/* CSS Document */
/* https://coolors.co/b0d0d3-c08497-f7af9d-f7e3af-f3eec3 */
/* Top Nav */
#menu1 {
	display: inline-block;
	align-items: center;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100px;
	width: calc(100% + 18px);
	background-color: #C08497;
	box-shadow: 0px 2px 5px 2px black;
	z-index: 9999;
	margin: 0px 0px 0px -10px;
}
#menuList {
	list-style-type: none;
	position: absolute;
	overflow: hidden;
	text-align: center;
	top: 10px;
	left: 90px;
	margin: 0px;
	padding: 0px;
	display:block;
	float:left;
	margin-right: 5px;
	font-family: Calibri;
	font-size: 40px;
	color: white;
	text-shadow: .5px .5px .5px #E8E8E8;
}

#socialButtons {
	position: absolute;
	display: inline-flex;
	/*left: calc(100% - 180px);*/
	/*top: 15px;*/
	bottom: 0px;
	size: inherit;
	background-color: white;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 225px;
	white-space: nowrap;
	overflow: hidden;
	background-color: #A85771;
}

.social:hover {
	opacity: 1.0;
}

.social {
	display: inline-block; /*block*/
	float: left;
	position: relative;
	height: 100px;
	width: auto;
	opacity: 0.9;
	top: -3px;
	left: 20px;
	padding-left: 12px;
}
/* Links menu */
#menu2 {
	height: calc(100% + 100px);
    width: 0;
    position: fixed;
    top: 98px;
    left: 0;
    background-color: #C08497;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	/*
	position: fixed;
	top: 50px;
	height: 25px;
	float: left;
	width: 100%;
	left: 10px;
	text-align: center;
	text-align-last: center;*/
	z-index: 10000;
}

#menuLinks {
	/*position: relative;
	float: left;
	top: 0%;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	text-align: center;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	border-color: #C08497;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #C08497;
	height: 100%;
	-webkit-box-shadow: 0px 10px 6px -7px black;
	box-shadow: 0px 10px 6px -7px black;*/

}
@keyframes DropDown {
	from {
		height: 0%;
	}
	to{
		height: 100%;
	}
}

.navLink {
	display: inline-block;
	margin-left: 0px;
	position: relative;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
}
.navLink ul {
	color: white;
	left: 50px;
	position: relative;
	font-size: 35px;
	transition: 0.3s;
	overflow-y: hidden;
}
.navLink a {
	overflow: hidden;	
}
.menu2Link {
	/*color: #FFFFFF;
	font-style: italic;
	font-family: expletus-sans;
	font-weight: 400;
	font-size: 13.5px;
	text-decoration: none;*/
	padding: 20px 8px 35px 32px;
	vertical-align: middle;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    transition: 0.3s;
	overflow-x: hidden;
	background-color: #A85771;
}
@keyframes menu2LinkAnim {
	from {
		color: #FFFFFF;
	}
	to {
		color: #43D8FF;
	}
}
.menu2Link:hover {
	animation: menu2LinkAnim 0.2s forwards;
}

* {
  box-sizing: border-box;
}
/* ## -[ SLIDESHOW ]- ## */
#slideshow {
  position: absolute;
  left: 5%;
  top: 30px;
  width: 90%;
  height: 95%;
  overflow: hidden;
}

#slides {
  position: relative;
  width: 100%;
  height: 100%;
}
#slides .slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
#slides .slide .title {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 20px;
  z-index: 2;
  padding-top: 5px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 30px;
  color: white;
  overflow: hidden;
}
#slides .slide .title .title-text {
  display: block;
  -webkit-transform: translateY(calc(100% + 10px));
          transform: translateY(calc(100% + 10px));
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-partial {
  position: absolute;
  width: calc(50% + 1px);
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-partial img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#slides .slide .slide-left.sImg {
  top: 0;
  right: 0;
  -o-object-position: 100% 50%;
     object-position: 100% 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#slides .slide .slide-right {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
#slides .slide .slide-right img {
  top: 0;
  left: 0;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#slides .slide.active .title .title-text {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
#slides .slide.active .slide-partial, #slides .slide.active .slide-partial img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#slide-select {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}
#slide-select li {
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}
#slide-select .fa {
  font-size: 2em;
  line-height: 2em;
}
#slide-select .fa.prev:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
#slide-select .fa.next:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
#slide-select .selector {
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
#slide-select .selector.current {
  background-color: white;
}


/* ## -[ CONTENT ]- ## */
#middle {
	position: relative;
	top: 80%;
	width: 95%;
	left: 2.5%;
	border-width: 0 2px 2px;
	border-style: solid;
	border-spacing: 10px 10px;
	padding-top: 50px;
	padding-left: 1%;
	padding-right: 1%;
	border-color: #757575;
	-webkit-box-shadow: 0px 0px 10px -4px #000000;
	box-shadow: 0px 0px 10px -4px #000000;
    text-align: justify;
    text-justify: inter-word;
	font-family: Crimson;
	-webkit-font-family: Crimson;
	font-size: 42px;
	size: 42px;
	-webkit-font-size: 40px;
}

#container {
	background-color: black;
	position: relative;
	left: 0%;
	width: 100%;
	height: 50%;
	overflow: hidden;
	box-shadow: 0px 2px 5px 2px black;
	z-index: 1000;
}

body {
	overflow-x: hidden;
}

html, body {
	position: relative;
	height: 100%;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 30px;
}

#wrapper {
	position: relative;
	height: auto;
}


@font-face {
	font-family: Crimson;
	src: url(../Resources/fonts/Crimson-Roman.otf);
}

tab {
	padding-left: 2em;
}

footer {
	position: relative;
	background-color: black;
	color: white;
	height: 80px;
	top: -20px;
	bottom: 0;
	box-shadow: 0px 0px 5px 2px black;
}

#credits {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	font-family: "Calibri light";
	font-size: 25px;
}
html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}